In [2]:
# Pip install nba_api
pip install nba_api

Requirement already satisfied: nba_api in /Users/earlperry/micromamba/lib/python3.9/site-packages (1.4.1)
Requirement already satisfied: certifi<2024.0.0,>=2023.7.22 in /Users/earlperry/micromamba/lib/python3.9/site-packages (from nba_api) (2023.11.17)
Requirement already satisfied: numpy<2.0.0,>=1.22.2 in /Users/earlperry/micromamba/lib/python3.9/site-packages (from nba_api) (1.26.4)
Requirement already satisfied: requests<3.0,>=2.31 in /Users/earlperry/micromamba/lib/python3.9/site-packages (from nba_api) (2.31.0)
Requirement already satisfied: charset-normalizer<4,>=2 in /Users/earlperry/micromamba/lib/python3.9/site-packages (from requests<3.0,>=2.31->nba_api) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in /Users/earlperry/micromamba/lib/python3.9/site-packages (from requests<3.0,>=2.31->nba_api) (3.6)
Requirement already satisfied: urllib3<3,>=1.21.1 in /Users/earlperry/micromamba/lib/python3.9/site-packages (from requests<3.0,>=2.31->nba_api) (2.2.1)
Note: you may need to restart the kernel to use updated packages.

In [2]:
#Retrieve Official Stats for MVP Canidadtes
from nba_api.stats.static import teams, players
import pandas as pd

playerlookup = pd.DataFrame(players.get_players())

SGA_mask = (playerlookup['last_name'] == 'Gilgeous-Alexander') 
SGA_mask

mvp_shai = playerlookup[SGA_mask]
mvp_shai

,id,full_name,first_name,last_name,is_active
1520,1628983,Shai Gilgeous-Alexander,Shai,Gilgeous-Alexander,True

In [3]:
mask_jok = playerlookup['full_name'] == 'Nikola Jokic'

mvp_jok = playerlookup[mask_jok]
mvp_jok

          id     full_name first_name last_name  is_active
2226  203999  Nikola Jokic     Nikola     Jokic       True

In [4]:
#Retrieve Nuggest & OKC data /Turn list into data frame
from nba_api.stats.static import teams
df = pd.DataFrame(teams.get_teams())
df

,id,full_name,abbreviation,nickname,city,state,year_founded
0,1610612737,Atlanta Hawks,ATL,Hawks,Atlanta,Georgia,1949
1,1610612738,Boston Celtics,BOS,Celtics,Boston,Massachusetts,1946
2,1610612739,Cleveland Cavaliers,CLE,Cavaliers,Cleveland,Ohio,1970
3,1610612740,New Orleans Pelicans,NOP,Pelicans,New Orleans,Louisiana,2002
4,1610612741,Chicago Bulls,CHI,Bulls,Chicago,Illinois,1966
5,1610612742,Dallas Mavericks,DAL,Mavericks,Dallas,Texas,1980
6,1610612743,Denver Nuggets,DEN,Nuggets,Denver,Colorado,1976
7,1610612744,Golden State Warriors,GSW,Warriors,Golden State,California,1946
8,1610612745,Houston Rockets,HOU,Rockets,Houston,Texas,1967
9,1610612746,Los Angeles Clippers,LAC,Clippers,Los Angeles,California,1970
10,1610612747,Los Angeles Lakers,LAL,Lakers,Los Angeles,California,1948
11,1610612748,Miami Heat,MIA,Heat,Miami,Florida,1988
12,1610612749,Milwaukee Bucks,MIL,Bucks,Milwaukee,Wisconsin,1968
13,1610612750,Minnesota Timberwolves,MIN,Timberwolves,Minnesota,Minnesota,1989
14,1610612751,Brooklyn Nets,BKN,Nets,Brooklyn,New York,1976
15,1610612752,New York Knicks,NYK,Knicks,New York,New York,1946
16,1610612753,Orlando Magic,ORL,Magic,Orlando,Florida,1989
17,1610612754,Indiana Pacers,IND,Pacers,Indiana,Indiana,1976
18,1610612755,Philadelphia 76ers,PHI,76ers,Philadelphia,Pennsylvania,1949
19,1610612756,Phoenix Suns,PHX,Suns,Phoenix,Arizona,1968
20,1610612757,Portland Trail Blazers,POR,Trail Blazers,Portland,Oregon,1970
21,1610612758,Sacramento Kings,SAC,Kings,Sacramento,California,1948
22,1610612759,San Antonio Spurs,SAS,Spurs,San Antonio,Texas,1976
23,1610612760,Oklahoma City Thunder,OKC,Thunder,Oklahoma City,Oklahoma,1967
24,1610612761,Toronto Raptors,TOR,Raptors,Toronto,Ontario,1995
25,1610612762,Utah Jazz,UTA,Jazz,Utah,Utah,1974
26,1610612763,Memphis Grizzlies,MEM,Grizzlies,Memphis,Tennessee,1995
27,1610612764,Washington Wizards,WAS,Wizards,Washington,District of Columbia,1961
28,1610612765,Detroit Pistons,DET,Pistons,Detroit,Michigan,1948
29,1610612766,Charlotte Hornets,CHA,Hornets,Charlotte,North Carolina,1988

In [17]:
from nba_api.stats.endpoints import playercareerstats as pcs
import pandas as pd

# Player IDs
jokic_id = '203999'  
gilgeous_alexander_id = '1628983'  

# Fetch career stats for both players

jokic_stats = pcs.PlayerCareerStats(player_id=jokic_id)
gilgeous_stats = pcs.PlayerCareerStats(player_id=gilgeous_alexander_id)

# Get career totals data as DataFrames
jokic_career_totals_df = jokic_stats.get_data_frames()[1]  # Remember Index 1 is usually the career totals DataFrame
gilgeous_career_totals_df = gilgeous_stats.get_data_frames()[1]

jokic_car_totals = jokic_stats.get_data_frames()[1]

# Combine the data into a single DataFrame for comparison
combined_df = pd.concat([jokic_career_totals_df, gilgeous_career_totals_df])
combined_df.index = ['Nikola Jokic', 'Shai Gilgeous-Alexander']

# Print the combined DataFrame
combined_df.head().T

          Nikola Jokic Shai Gilgeous-Alexander
PLAYER_ID       203999                 1628983
LEAGUE_ID           00                      00
Team_ID              0                       0
GP                 675                     386
GS                 634                     377
MIN            21075.0                 12692.0
FGM               5450                    3083
FGA               9778                    6216
FG_PCT        0.557373                0.495978
FG3M               676                     451
FG3A              1933                    1294
FG3_PCT       0.349715                0.348531
FTM               2563                    2193
FTA               3099                    2574
FT_PCT         0.82704                0.851981
OREB              1783                     284
DREB              5466                    1548
REB               7249                    1832
AST               4667                    1876
STL                822                     535
BLK                491                     293
TOV               1946                     889
PF                1835                     880
PTS              14139                    8810

In [18]:
#Now we want to analyze the stats for the 2023-2024 season
from nba_api.stats.endpoints import playergamelog
import pandas as pd

# Player IDs
jokic_id = '203999'  # Nikola Jokic
gilgeous_alexander_id = '1628983'  # Shai Gilgeous-Alexander

# Season specification
season = '2023-24'

# Fetch game logs for the 2023-2024 season for both players
jokic_logs = playergamelog.PlayerGameLog(player_id=jokic_id, season=season)
gilgeous_logs = playergamelog.PlayerGameLog(player_id=gilgeous_alexander_id, season=season)

# Get the game logs data as DataFrames
jokic_games_df = jokic_logs.get_data_frames()[0]  # The first DataFrame contains the game logs
gilgeous_games_df = gilgeous_logs.get_data_frames()[0]

# Calculate season averages for each player
jokic_season_avg = jokic_games_df.mean(numeric_only=True)
gilgeous_season_avg = gilgeous_games_df.mean(numeric_only=True)

# Combine the averages into a single DataFrame for comparison
avg_stats_df = pd.DataFrame({
    'Nikola Jokic': jokic_season_avg,
    'Shai Gilgeous-Alexander': gilgeous_season_avg
})

# Print the combined DataFrame
avg_stats_df.T
#gilgeous_games_df.info()

,Player_ID,MIN,FGM,FGA,FG_PCT,FG3M,FG3A,FG3_PCT,FTM,FTA,...,DREB,REB,AST,STL,BLK,TOV,PF,PTS,PLUS_MINUS,VIDEO_AVAILABLE
Nikola Jokic,203999.0,34.645570,10.405063,17.860759,0.601215,1.050633,2.924051,0.348835,4.531646,5.544304,...,9.531646,12.354430,8.962025,1.367089,0.860759,3.00,2.455696,26.392405,8.632911,1.0
Shai Gilgeous-Alexander,1628983.0,34.053333,10.613333,19.826667,0.536800,1.266667,3.586667,0.379707,7.560000,8.653333,...,4.666667,5.533333,6.200000,2.000000,0.893333,2.16,2.453333,30.053333,8.133333,1.0

In [19]:
#Now we're analyzing OKC VS DEN stats
from nba_api.stats.endpoints import teamyearbyyearstats
import pandas as pd
import matplotlib.pyplot as plt

# Team IDs
okc_id = '1610612760'  # Oklahoma City Thunder
den_id = '1610612743'  # Denver Nuggets

# Fetch year-by-year stats for both teams
okc_stats = teamyearbyyearstats.TeamYearByYearStats(team_id=okc_id).get_data_frames()[0]
den_stats = teamyearbyyearstats.TeamYearByYearStats(team_id=den_id).get_data_frames()[0]

# Filter for the 2023-2024 season
okc_2023_2024 = okc_stats[okc_stats['YEAR'] == '2023-24']
den_2023_2024 = den_stats[den_stats['YEAR'] == '2023-24']

# Combine the data into a single DataFrame for comparison
combined_df = pd.concat([okc_2023_2024, den_2023_2024])
combined_df.index = ['OKC', 'DEN']


combined_df.T

                                 OKC         DEN
TEAM_ID                   1610612760  1610612743
TEAM_CITY              Oklahoma City      Denver
TEAM_NAME                    Thunder     Nuggets
YEAR                         2023-24     2023-24
GP                                82          82
WINS                              57          57
LOSSES                            25          25
WIN_PCT                        0.695       0.695
CONF_RANK                          1           2
DIV_RANK                           1           2
PO_WINS                            5           5
PO_LOSSES                          2           3
CONF_COUNT                      15.0        15.0
DIV_COUNT                          5           5
NBA_FINALS_APPEARANCE            N/A         N/A
FGM                             3653        3610
FGA                             7324        7279
FG_PCT                         0.499       0.496
FG3M                            1090         958
FG3A                            2805        2560
FG3_PCT                        0.389       0.374
FTM                             1451        1240
FTA                             1759        1628
FT_PCT                         0.825       0.762
OREB                             722         881
DREB                            2725        2763
REB                             3447        3644
AST                             2223        2415
PF                              1545        1489
STL                              694         585
TOV                             1039        1036
BLK                              538         457
PTS                             9847        9418
PTS_RANK                           3          14

In [6]:
import matplotlib.pyplot as plt
import seaborn as sns

#Next steps are to explore the data further with vizulations, then some predictive modeling. 
#And will do the same thing for NBA'S 2024 Defensive Player of the Year.